
    <script>
    window.addEventListener("load", function(){
    var str = window.location.href;
    var res = str.split("/");

   


    var omega = document.getElementById(''); //or grab it by tagname etc
        omega.href = res[0]+"/"+res[1]+"/"+res[2]+"/"+res[3]+"/"+res[4]

    var link_upcoming_events = document.getElementById('link_upcoming_events'); //or grab it by tagname etc
        link_upcoming_events.href = res[0]+"/"+res[1]+"/"+res[2]+"/"+res[3]+"/"+res[4]

    var link_frogot_password = document.getElementById('link_frogot_password'); //or grab it by tagname etc
        omega.href = res[0]+"/"+res[1]+"/"+res[2]+"/"+res[3]+"/"

    });

    </script>

<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Link with href
</a>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Button with data-bs-target
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">FT Izol</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
   <nav class="nav flex-column navbar-expand-lg navbar-text">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      <br>
        <li class="nav-item">
          <a class="nav-link" id="link_upcoming_events" aria-current="page" href="#">Akce</a>
        </li>
        <br>
        <li class="nav-item">
          <a class="nav-link" id='link_frogot_password' href="#">Zapomenuté heslo?</a>

        </li>
        <br>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <br>


    </div>
  </div>
</nav>
    
  </div>
</div>