{% extends "./_base.html.twig" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}


    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container">
  <div class="row">
          <div class="col-12 col-md-2">
    </div>
    <div class="col-md-8 col-12 float-left">
            <h1>Stránka pro změnu hesla </h1>
            <small>jestli nevíš svoje heslo, jsi tu správně :)</small>
            <br>

        <form method="post">
    <div class="mb-3">
            <label for="emailControl" class="form-label">Uživatelské jméno:
            </label>
  <input type="text" class="form-control" id="emailControl" placeholder="your@email.com" value={{username}}>
    </div>

    <div class="mb-3">





            <div class="mb-3">
    <label for="PasswordControl" class="form-label">Nové heslo:</label>
  <input type="password" class="form-control" id="passwordControl" placeholder="Nové heslo">
    </div>

  <button type="submit" class="btn btn-primary">Změnit heslo</button>
</div>
</form>

    <div class="col-12 col-md-2">
     hi :)        
    </div>
</div>




</div>


{% endblock %}