{% extends "../_base.html.twig" %}


{% block title %}Home{% endblock %}


{% block body %}



<div class="main">
    
    <div class="row align-items-top justify-content-between">

        <div class="col-2 d-md-block d-none min-vh-100 text-center sidebar">

            <div class="row justify-content-center align-items-top">
                        
            <div class="my-4 col-12 col-md-12 text-light">
            User Content <br>
            User Content <br>
            User Content <br>
            User Content <br>

            </div>

            
            <div class="my-4 col-12 col-md-12">

                            <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link link-light active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-light" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-light" href="#">Link</a>
  </li>
</ul>
            </div>



            </div>

        </div>


        <div class="col-12 col-md-4">
        Content 4 md12
        </div>

        <div class="col-12 col-md-4">
        Content 4 md12
        </div>

        <div class="col-2 d-none d-md-block">
            Content 2 md none
        </div> 



    
    </div>


</div>
    
    


  {% endblock %}