{% extends "./_base.html.twig" %}

{% block body %}


    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <h1>Login Page</h1>

    <form action="" method="post">
    {% csrf_token %}
    <br>
    {{ form }}
    <br>
    <input type="submit" value="Přihlásit se">
    </form>

{% endblock %}