{% extends "./_base.html.twig" %}

{% block body %}


    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {{{{ 'My Account'|title }}
}}
    <h1>Worker Account Page</h1>


{% endblock %}